<div class="container">
    <!-- <app-parent-list></app-parent-list> -->
    <app-contact-list></app-contact-list>
    <app-login></app-login>
    <!-- <span>{{ title }} app is running!</span>
    {{listOfNumber}}
    <h6> {{message}}</h6>
    {{listOfPerson | json}}
    <br>
    {{listOfPerson.name}}  {{listOfPerson.age}} -->
</div>

<!-- 
<div *ngFor=" let elem  of ['a', 'b', 'c']" class="border border-danger" >
    I am going to repeat {{ elem }}
</div>


<div *ngFor=" let elem  of listOfNumber" class="border border-danger" >
    I am from .ts file value {{ elem }}
</div> -->